.container{
    display: flex;
}
.bloco-1{
    background-color: rgb(255, 238, 0);
    width: 280px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.foto-perfil {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
    border-style: solid;
    border-color: rgb(0, 0, 0);


}
.link {
    color: rgb(0, 0, 0);
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}
a:link {
text-decoration:none;
}
a:visited {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}

.nome-amarelo {
    color: rgb(255, 238, 0);
}
.titulo01 {
    font-size: 100px;
    margin: 0px;
}
.bloco-2 {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.icon {
    width: 50px;
    height: 50px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border box
    }
.flex{
    display: flex;
}
.lista-1 {
    margin-left: 100px;
    display: flex;    
    flex-direction: column;
    font-size: 50px;
    list-style-type:lower-latin;
    justify-content: center;
    align-items: center;
}